.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  color:whitesmoke
}

.list-ul {
  list-style: none;
  margin-top: 20px;
}

.list-li {
  padding: 20px;
  font-size: 25px;
}

.list-li h2{

color:wheat;
text-decoration: underline 1px;

}
